body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  h1 {
    text-align: center;
    background-color: #ffcbe5;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    height: 40%;
  }
  
  #games {
    display: flex;
    justify-content: space-around;
  }

  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fbb0e2;
    background-color: #ffb2f6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #ff80bb}
  
  .button:active {
    background-color: #ff95e6ac;
    box-shadow: 0 5px #b0b0b0;
    transform: translateY(4px);
  }
  
  